<html>
    <!DOCTYPE html>
    <html>
    <head>
    <title>Create New Product</title>
    <meta charset="UTF-8">
    <meta name="description" content="Form to create new product">
    <!-- meta charset="UTF-8">
<meta name="description" content="This is my first website. It includes lots of information about my life."> -->
    </head>
    <body>
        <h2>CREATE NEW PRODUCT</h2>
        <form method="POST" action="http://localhost:3000/create">
            <label>NAME</label><br>
            <input type="text" name="name" value=""><br>
            <label>PRICE</label><br>
            <input type="text" id="price" name="price" value=""><br>
            <label>QUANTITY</label><br>
            <!-- <label>NAME</label><br>
            <input type="text" name="name" value=""><br>
            <label>PRICE</label><br>
            <input type="text" id="price" name="price" value=""><br>
            <label>QUANTITY</label><br> -->
            <input type="text" name="quantity" value=""><br><br>
            <input type="submit" value="Submit">
        </form><br><br>
    </body>
</html>