<html>
    <!DOCTYPE html>
    <html>
    <head>
    <title>Search Product</title>
    <!-- meta charset="UTF-8">
<meta name="description" content="This is my first website. It includes lots of information about my life."> -->
    <meta charset="UTF-8">
    <meta name="description" content="Form to Delete product">
    </head>
    <body>
        <h1>Search PRODUCT</h1>
        <form method="POST" action="http://localhost:3000/searchproduct">
            <label for="name">NAME</label><br>
            <input type="text" name="name" value=""><br>
            <input type="submit" value="Submit">
        </form><br><br>
    </body>
</html>