<html>
    <!DOCTYPE html>
    <html>
    <head>
    <title>Update Product</title>
    <!-- meta charset="UTF-8">
<meta name="description" content="This is my first website. It includes lots of information about my life."> -->
    <meta charset="UTF-8">
    <meta name="description" content="Form to update product">
    </head>
    <body>
        <h1>UPDATE PRODUCT</h1>
        <form method="POST" action="http://localhost:3000/updateproduct">
            <label for="name">NAME</label><br>
            <input type="text" name="name" value=""><br>
            <label for="price">PRICE</label><br>
            <input type="text" id="price" name="price" value=""><br>
            <!-- <label for="price">PRICE</label><br>
            <input type="text" id="price" name="price" value=""><br> -->
            <label for="quantity">QUANTITY</label><br>
            <input type="text" name="quantity" value=""><br><br>
            <input type="submit" value="Submit">
        </form><br><br>
    </body>
</html>